//General
.col{
  margin: 20px 0 20px 0;
}
a.tags:not(:last-child){
  margin-right: 10px;
}

.small-text{
  font-size: 0.7rem;
}

.buttons{
  margin: 20px 0 20px 0;
}
.btn-secondary{
  margin: 20px 20px 20px 0;
}

//Header
.avatar{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;

  img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
  }
}


#user-index, #post-index, #post-edit, #user-edit{
  .card{
    margin: 20px;
  }

  .image_container{
    height: 18rem;
    width: 18rem;

    img{
      min-height: 100%;
      min-width: 100%;
      overflow: hidden;
      object-fit: cover;
      object-position: center;
    }

  }
}

#user-show, #post-show{
  .image_container{
    height: 600px;
    width: 600px;

    img{
      min-height: 100%;
      min-width: 100%;
      overflow: hidden;
      object-fit: cover;
      object-position: center;
    }
  }
}

#post-edit, #user-edit{
  .image_container{
    margin: 20px;
  }
}
